.two-floating-elements p {
    /*max-width: 70%;*/
    float:left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


.two-floating-elements ul {
    max-width: 60%;
    float:right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 100px;
  }


  .side-by-side {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    box-sizing: border-box; }
    .side-by-side .side {
      -webkit-flex: 1 0 0;
      -moz-flex: 1 0 0;
      flex: 1 0 0; }
    .side-by-side .side.fix-w3c {
      display: flex; }
    .side-by-side .side + .side {
      margin-left: 2rem; }

h3.coral {
  color: coral;
}
